body {
    background-color: #f8f9fa;
}

.table {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.navbar {
    margin-bottom: 20px;
}

/* Custom flash alerts */
.alert-container {
    margin-top: 20px;
}

.alert {
    margin: 20px auto;
    padding: 10px 20px;
    max-width: 600px;
    width: 100%;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.form-container {
    background-color: #D5DEDE; /* Light grey background */
    padding: 20px; /* Add some padding inside the container */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 20px auto; /* Center the form on the page with top/bottom margin */
}
